@{
    Layout = "_LayoutPage.cshtml";
    Page.Title = "categories";
    
    var db = Database.Open("Cafeen");
    var data = db.Query("SELECT * FROM categories");
}

<table id="table-category">
    <caption><span class="table-headline">Categories</span><input id="add-button-cat" type="button" value="Add Category" 
        name="AddButtonCat" onclick="window.location='AddCategory.cshtml'"/></caption>
    <thead>
        <tr>
            <th class="tablehead-style">Name</th>
            <th class="tablehead-style">Quantity</th>
            <th colspan="2">Actions</th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var row in data) {
        <tr>
            <td>@row.CatName</td>
            <td>@row.CatQuantity QTY.</td>
            <td><input id="edit-button-cat" type="button" name="EditButtonCat" value="Edit" 
                onclick="window.location='EditCategory?CatID=@row.CatID'"></td>
            <td><input id="delete-button-cat" type="button" name="DeleteButtonCat" value="Delete"
                    onclick="window.location='DeletePage?CatID=@row.CatID'"></td>
        </tr>
            }
        }
    </tbody>
</table>