
@{
    Layout = "_LayoutPage.cshtml";
    Page.Title = "Delete category";

    var id = Request["CatID"];
    var db = Database.Open("Cafeen");
    var Category = db.QuerySingle("SELECT * FROM Categories where CatID=@0",id);
    var CategoryName = Category.CatName;
     
    if(IsPost)
    {
        var SQLDELETE = "DELETE FROM Categories where CatID=@0";
        db.Execute(SQLDELETE,id);
        Response.Redirect("Categories.cshtml");
    }   


}

<h1>Delete a category</h1>
<p>Are you sure you want to delete the category <strong>@Category.catName ?</strong></p>
<form action="" method="post">
    <input class="button-design" type="submit" value="Yes" />
    <input class="button-design" type="button" value="No" onclick="window.location = 'Categories.cshtml'" /> 
</form>
