@{
    Layout = "_LayoutPage.cshtml";
    Page.Title = "Edit category";    

    var id = Request["CatID"];
    var db = Database.Open("Cafeen");

    var Category = db.QuerySingle("SELECT * FROM Categories where CatID=@0",id);
    var CategoryName = Category.CatName;
    var CategoryQuantity = Category.CatQuantity;

    if(IsPost)
    {
        CategoryName = Request["formCatName"];
        CategoryQuantity = Request["formCatQuantity"];
        var SQLEXECUTE = "UPDATE Categories Set CatName=@0, CatQuantity=@1 WHERE CatID=@2";
        db.Execute(SQLEXECUTE, CategoryName, CategoryQuantity, id);
        Response.Redirect("Categories.cshtml");
    }

}

<h1>Edit a Category</h1>
<form action="" method="post">
    <p>Category name:<br /><input type="text" name="formCatName" value="@CategoryName" /></p>
    <p>Quantity:<br /><input type="text" name="formCatQuantity" value="@CategoryQuantity" /></p>
    <input class="button-design" type="submit" value="Edit Category" />
    <input class="button-design" type="button" value="Go back" onclick="window.location='Categories.cshtml'"/>
</form>