@{
 
    string username = "Admin";
    string password = "qwerty";
   
    if  (IsPost)
     {
        var formUser = Request["username_login"];
        var formPassword = Request["password_login"];

         if (username == formUser && password == formPassword)
         {
              Session["username"] = "loggedIn";
              Response.Redirect("Default.cshtml");   
         } 
         else
         {
                
         }
    }
}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Login Page</title>
        <link rel="stylesheet" type="text/css" href="StyleSheetLogin.css" />
        <script src="Script.js"></script>
    </head>
    <body>
        <div id="wrapper">
            <div id="content-wrapper">

                <div id="logo-container">
                    <img id="logo_login" src="Images/cafeen.png" alt="logo_login" height="300px" width="300px"/>
                 </div>
                 <div id="text-container">
                <h2>Welcome to Cafeen?'s stock & accounting system. <br/>Please enter your login information </h2>
                 </div>
                 <div id="form-container">
                <form action="" method="post">
                    <fieldset id="loginField">
                        <legend>Login Information</legend>
                        <label>Username:</label> <br/><input type="text" id="usernameLogin" name="username_login" placeholder="Username..." required title="Please enter a username"/>
                        <br />
                        <label>Password:</label> <br /><input type="password" id="passwordLogin" name="password_login" placeholder="Password..." required title="Please enter a password"/>
                        <br /><br />
                        <input class="button-design" id="login_button" type="submit" value="Login" name="login_submit"  />
                    </fieldset>
                </form>
                     </div>
           </div>
        </div>
    </body>
</html>
