@{
    Layout = "_LayoutPage.cshtml";
    Page.Title = "Stock";
    
    var db = Database.Open("Cafeen");
    var data = db.Query("SELECT * FROM stock");



}
<section id="stock-uppper">
<div id="stock-wrapper">
    <div id="stock-list" >
       
        <table id="stock-table">
            <tr>    
                <th class="tablehead-style">Name<img src="/Images/down_arrow.png" height="20px" width="20px" alt="down_arrow"/></th>
                <th class="tablehead-style">Quantity<img src="/Images/down_arrow.png" height="20px" width="20px" alt="down_arrow"/></th>
                <th class="tablehead-style">Category<img src="/Images/down_arrow.png" height="20px" width="20px" alt="down_arrow"/></th>
                <th class="tablehead-style">Price<img src="/Images/down_arrow.png" height="20px" width="20px" alt="down_arrow"/></th>
            </tr>
             @{ foreach (var row in data) {
            <tr>
                <td>@row.stockName</td>
                <td>@row.stockQuantity</td>
                <td>@row.stockCategory</td>
                <td>@row.stockPrice kr. <!--price name generated from database--></td>
            </tr>
                }
            }
        </table>
    </div>
    <div id="stock-list-number-wrapper">
        <section id="stock-list-number-left">
            <p>Showing 10 out of 57 entries</p>
        </section>
        <section id="stock-list-number-right">
        <ul>
            <li>Previous</li>
            <li><span class="stock-current-page">1</span></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">Next</a></li>
        </ul>
        </section>
    </div>
</div>


</section>

<section id="stock-lower">
    <div id="stock-goods">
       <input id="stock-goods-button" type="button" class="button-design" value="Product edit" onclick="window.location='Goods.cshtml'"/>
    </div>
    <div id="stock-category">
        <input id="stock-category-button" type="button" class="button-design" value="Categories edit" onclick="window.location='Categories.cshtml'"/>
    </div>
</section>